<h1>
  Angular {{title}}
</h1>
<h1>
  {{getNames()}}
</h1>
<!-- <courses>

</courses>


<app-user-list>

</app-user-list>



<input type="text" #box1 >
<button type="button" #bt1 (click)="DisplayMessage(box1.value)">
  Show message
</button>
<h1>
  {{displayval}}
</h1> -->
<!-- <app-counter>

</app-counter>
<h1 *ngFor="let item of userdetails">
  {{item.name }} is {{item.age }}
</h1> -->

<!-- <form #f1="ngForm" (submit)="getForm(f1.value)">
  Name : <input type="text" ngModel name="user" >
  Email : <input type="text" ngModel name="email" >
  <button type="button">
    Register
  </button>
  
</form>
<h1>
  {{userData.user}}
  {{userData.email}}
</h1> -->

<!-- 
Item : <input type="text" #t1>

<button type="button" (click)="addItem(t1.value)">
  Add Item
</button>
<button type="button" (click)="removeItem(t1.value)">
  Remove Item
</button>
<h1>
  <ul *ngFor="let item of tasks">
    <li>
   {{item.name}}
    </li>
  </ul>
</h1> -->

<app-child [item]="title">

</app-child>
<!-- <form #basicform="ngForm" (ngSubmit)="logindisplay(basicform.value)">
  <input type="text" name="user" [ngModel]>
  <input type="text" name="email" [ngModel]>
  <button type="button" >
    Submit
  </button>
</form> -->


<button type="button" (click)="Submit('John cena')">
  Click me
</button>

<app-countfive>
  
</app-countfive>

